<%- include('header') %>

    <%- include('aside') %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    home page
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="box">
                    <div class="box-body">
                        
                        <div class="jumbotron">
                            <div class="container">
                                <h1>LỖI, <%= message %> </h1>
                                <p>
                                    <a href="/" class="btn btn-primary btn-lg">Quay lại trang chủ</a>
                                </p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- /.box -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <%- include('footer') %>